/* Mise en forme generale de la page*/
body {
    display: flex;
    font-family: 'Arial', sans-serif;
    margin: auto;
    padding: 0;
    background: linear-gradient(to right, #4a90e2, #5590ef);
    color: #2d3436;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(253, 241, 184, 0.9);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Mise en forme de l'entête*/
header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #2d3436;
}

#temperature-chart {
    height: 400px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Ajoutez des styles supplémentaires pour le graphique si nécessaire */

img {
    width: 702px;
    height: 373px;
    margin-top: -300px;
    position: relative;
}
